BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
TabWidth: 2
BreakBeforeBraces: Attach
AccessModifierOffset: -4
NamespaceIndentation: All
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
ContinuationIndentWidth: 0